/*to avoid overlapping content with navbar*/
body { 
  background-color: #fafafa;
  padding-top: 40px; 
  font-family: 'Raleway', sans-serif;
}

h1 h2 h3 h4 h5 {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit
}
