{% extends "papers/base.html" %}

{% load static %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'users/js/ajax_follow_user.js' %}" ></script>
{% endblock %}


{% load crispy_forms_tags %}
{% block content %}
  <!-- user profile top section -->
  <div class="shadow-sm card">
    <div class="container p-3">
      <div class="row">
        <!-- user avatar -->
        <div class="col-lg-3 col-md-3 col-sm-4 col-8 m-auto">
          <img class="img-fluid img-thumbnail rounded-circle" src='{{ profile.image.url }}'>
        </div>
        <!-- User basic info -->
        <div class="col-lg-9 col-md-9 col-sm-8 col-12">
          <div class="container p-3">
            <div class="row ">
              <!-- user name -->
              <div class="col h5">
                {{ profile.user.first_name|add:" "|add:profile.user.last_name|title }}
              </div>
              <!-- Edit / Follow / Unfollow -->
              <div class="text-right">
                {% if profile.user.username == user.get_username %}
                  <a class="btn btn-outline-info" href="{% url 'profile-update' %}">edit</a>
                {% else %}
                  <button class="btn btn-outline-info" id="follow_unfollow">
                    <p class="text-muted">loading..</p>
                  </button>
                {% endif %}
              </div>
            </div>
            <!-- username -->
            <div class="row">
              <p class="col" id="user-username">@{{ profile.user.username }}</p>
            </div>
            <!-- User states -->
            <div class="row d-flex justify-content-start">
              <a class="p-2" href="{% url 'user-posts' profile.user.username %}">
                {{ post_count }} Posts
              </a>
              <a class="p-2" href="{% url 'followers' profile.user.username %}">
                {{ followers_count }} Followers
              </a>
              <a class="p-2" href="{% url 'following' profile.user.username %}">
                {{ following_count }} Following
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- user profile bottom section -->
  <div class="shadow-sm card container py-3 my-3">
    <div class="row">
      <div class="container">
        <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#user-about" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
          <a class="nav-item nav-link" id="nav-bookmark-tab" data-toggle="tab" href="#user-bookmark" role="tab" aria-controls="nav-profile" aria-selected="false">Bookmarks</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <!-- about -->
          <div class="tab-pane fade show active" id="user-about" role="tabpanel" aria-labelledby="nav-about-tab">
            {% include 'users/user_about.html' %}
          </div>
          <!-- bookmark -->
          <div class="tab-pane fade" id="user-bookmark" role="tabpanel" aria-labelledby="nav-bookmark-tab">
          </div>
          <div class="tab-pane fade" id="#" role="tabpanel" aria-labelledby="nav-contact-tab">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
