{% extends 'papers/base.html' %}

{% load static %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'users/js/ajax_follow_user.js' %}" ></script>
{% endblock %}


{% block content %}
	<div class="container">
		{% for user in users %}
			<div class="card container p-2 m-1">
				<div class="row ">
					<!-- user Avatar -->
					<div class="col-lg-1 m-auto">
						 <img class="img-fluid rounded-circle thumbnail" src="{{ user.profile.image.url }}">
					</div>
					<!-- User name and username -->
					<div class="col">
						<div class="row">
							@
							<a  style="color:inherit;" href="{% url 'profile' user.username %}">
								{{ user.username }}
		          </a>
		          <p>( {{ user.first_name|add:" "|add:user.last_name|title }} )</p>
		        </div>
					</div>
					<div class="col text-right">
						<button class="btn btn-outline-info py-0" id="follow_unfollow">
	            <p class="text-muted">loading..</p>
	          </button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
