{% extends "papers/base.html" %}

{% load static %}
{% block javascript %}
  <!-- count viwes on a post -->
  {% load hitcount_tags %}
  {% get_hit_count_js_variables for post as hitcount %}
  <!-- to count views -->
  <script type="text/javascript">
  // console.log('JS: Bitch im in')
    jQuery(document).ready(function($) {
      $.ajax({
        method: 'POST',
        url: "{{ hitcount.ajax_url }}",
        data: { hitcountPK : "{{ hitcount.pk }}" },
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        success: function(data) {
          $('<i />').text(data.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
          $('#hit-response').text(data.hit_message);
        },
        fail: function(data) {
          console.log('POST failed');
          console.log(data);
        }
      });
    });
  </script>
  <!-- to toggle bookmark -->
  <script src="{% static 'posts/js/ajax_bookmark.js' %}" type="text/javascript"></script>
  <!-- to load comments -->
  <script type="text/javascript">
    $('#comments').load("{% url 'comments' post.pk %}");
  </script>
{% endblock %}

{% block content %}
  <div class="card my-2 shadow">
    <div class="card-body">
      <div class="container px-3">
        <div class="row ">
          <!-- User Avatar -->
          <div class="col-lg-1 col-md-2 col-sm-2 col-4" title="User-Avatar">
            <img class="img-fluid rounded-circle " src="{{ post.author.profile.thumbnail.url }}" alt="Avatar">
          </div>
          <div class="col-lg-8 col-md-7 col-sm-7 col-8">
            <!-- username -->
            <div class="row px-1">
              <a title="User Name" href="{% url 'profile' post.author.username %}">
                {{ post.author.first_name|add:" "|add:post.author.last_name|title }}
              </a>
            </div>
            <!-- user info -->
            <div class="row px-1">
              {% if post.author.profile.bio %}
                <small title="User Bio" class="text-muted">{{ post.author.profile.bio|truncatechars:80 }}</small>
              {% else %}
                <small title="User email" class="text-muted">{{ post.author.email }}</small>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 ">
            <div class="row d-flex justify-content-end">
              <!-- bookmark -->
              {% if user.is_authenticated %}
                <div style="cursor:pointer;" title="bookmark" class="col-1 text-right bookmark" id="bookmark-{{post.pk}}">
                  {% if user.username in post.bookmark_username %}
                    <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
                  {% else %}
                    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-8 col-md-8 col-sm-6 col-12 text-left">
            <!-- views -->
            <small class="text-muted" id="hit-counted-value" title="views"> 
              <i class="fa fa-eye">&nbsp</i>
              {% get_hit_count for post %} views
            </small>
            <!-- date -->
            <small class="text-muted pl-2">
               <i class="fa fa-calendar">&nbsp</i>
              {{ post.date_posted | date:"d F, y hA" }}
            </small>
          </div>
          <!-- Edit / Delete -->
          <div class="col-lg-4 col-md-8 col-sm-6 col-12 text-right">
            {% if post.author == user %}
              <a title="Edit" style="color:green" class="p-1" href="{% url 'post-update' object.id %}">
                <i class="fa fa-edit"></i>
              </a>
              <a title="Delete" style="color:red" class="p-1" href="{% url 'post-delete' object.id %}">
                <i class="fa fa-trash"></i>
              </a>
            {% endif %}
          </div>
        </div>
        <hr>
        <div class="row mt-1">
          <div class="col">
            <a style="color:inherit" class="h4" href="{% url 'post-detail' post.id %}">{{ post.title|capfirst }}</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="">{{ post.description|capfirst }}</p>
          </div>
        </div>
        <div class="row text-right">
          {% if user.is_authenticated %}
          <!-- download -->
            <div class="col">
              <button class="col btn btn-outline-success"  role="button" href="{{ post.document.url }}" download>Download</button>
            </div>
            <!-- comment -->
            <div class="col">
              <button class="col btn btn-outline-primary" style="cursor:pointer;" 
                data-toggle="modal" 
                data-target="#comment-modal"
                onclick="load_modal('{% url 'post_comment' post.pk %}')"
              >Comment</button>
            </div>
          {% else %}
            <a style="color:inherit;" class="col btn btn-secondary" href="{% url 'login' %}" target="blank">Login to Download / Comment</a>
          {% endif %}
        </div>
      </div>
      <hr>
      <!-- comments -->
      <div id="comments"></div>
    </div>
  </div>
{% endblock content %}