<div class="card shadow-sm rounded my-3">
  <div class="card-body">
    <div class="container px-3">
      <div class="row ">
        <!-- User Avatar -->
        <div class="col-lg-1 col-md-2 col-sm-2 col-4" title="User-Avatar">
          <img class="img-fluid rounded-circle " src="{{ post.author.profile.thumbnail.url }}" alt="Avatar">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-7 col-8">
          <!-- username -->
          <div class="row px-1">
            <a title="User Name" href="{% url 'profile' post.author.username %}">
              {{ post.author.first_name|add:" "|add:post.author.last_name|title }}
            </a>
          </div>
          <!-- user info -->
          <div class="row px-1">
            {% if post.author.profile.bio %}
              <small title="User Bio" class="text-muted">{{ post.author.profile.bio|truncatechars:80 }}</small>
            {% else %}
              <small title="User email" class="text-muted">{{ post.author.email }}</small>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 ">
          <div class="row d-flex justify-content-end">
            <!-- bookmark -->
            {% if user.is_authenticated %}
              <div style="cursor:pointer;" title="bookmark" class="col-1 text-right bookmark" id="bookmark-{{post.pk}}">
                {% if user.username in post.bookmark_username %}
                  <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-left">
          <!-- views -->
          <small class="text-muted" id="hit-counted-value" title="views"> 
            <i class="fa fa-eye">&nbsp</i>
            {{ post.hit_count.hits }} views
          </small>
          <!-- date -->
          <small class="text-muted pl-2">
             <i class="fa fa-calendar">&nbsp</i>
            {{ post.date_posted | date:"d F, Y" }}
          </small>
        </div>
      </div>  
      <hr>
      <!-- post title -->
      <div class="row mt-1">
        <div class="col">
          <a style="color:inherit" title="Post title" class="h4" href="{% url 'post-detail' post.id %}">
            {{ post.title|title|truncatechars:80}}
          </a>
        </div>
      </div>
      <!-- post description -->
      <div class="row">
        <div class="col">
          <p title="Post description">{{ post.description|capfirst|truncatechars:150 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>